.hero-banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .card img {
    height: 300px;
    object-fit: cover;
  }
  
  h2 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .card-title {
    font-size: 1rem;
  }
  